body {background-color:#def3f6;
  font-family:candara;
  font-size:12pt; color:#064273}
#header{background-color:#064273;color:#def3f6}
#header img{height:150px;}
#nav{background-color:#f6e1de;text-align:center}
#nav li {display: inline}
  background: white;
<style>
<link href="style.css" rel="stylesheet" type="text/css" />
</style>
p {
  color: black;
}
h1 {
  font-weight: bold;
}

.gallery {
  margin: 5px;
  border: 1px solid white;
  float: left; width: 30%; height:300px
}
.gallery img { width: 100%;
  height: 100%; object-fit:cover
}
.desc {
  padding: 15px;
  text-align: center;
}